%img(src="#{@card_url}")
%hr
<a href="/spoiler">Random Spoiler</a>
%br
<a href="/spoiler?rarity=m">Mythic</a> | <a href="/spoiler?rarity=r">Rare</a> | <a href="/spoiler?rarity=u">Uncommon</a> | <a href="/spoiler?rarity=c">Common</a>


